.App {
  /* text-align: center; */
  font-size: 1.4rem;
}
.counter-label{
  outline-width: none;
  border-width: none;
  background-color: aquamarine;
  border-radius: 1rem;
  padding:1rem 1.5rem 1rem;
  display: inline;
  margin :2rem 2rem;
}